.swap_bigdiv {
  background-color: var(--main-color);
  padding: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.swap_div {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* __________________Aggregator Component______________ */
.aggregator_bigdiv {
  padding: 0px 40px;
  width: 45%;
  color: var(--white-color);
}

.aggregator_bigdiv h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 52px;
}
.aggregator_bigdiv p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(218, 209, 212, 0.8);
  margin: 17px 0px;
}
.aggregator_btns a button {
  padding: 12px 26px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: var(--white-color);
  cursor: pointer;
  transition: 1s;
}
.aggregator_btns a:nth-of-type(1) button {
  background: linear-gradient(
    103.04deg,
    rgba(255, 233, 134, 0.88) -25.17%,
    #bc7e20 77.94%,
    #a74d01 128.68%
  );
  border: 1px solid transparent;
}
.aggregator_btns a:nth-of-type(2) button {
  border: 1px solid var(--border-color);
  background-color: transparent;
  margin-left: 10px;
}
.aggregator_btns a:nth-of-type(1) button:hover {
  border: 1px solid var(--border-color) !important;
  background-color: transparent !important;
  transition: 1s;
}
.aggregator_btns a:nth-of-type(2) button:hover {
  background: linear-gradient(
    103.04deg,
    rgba(255, 233, 134, 0.88) -25.17%,
    #bc7e20 77.94%,
    #a74d01 128.68%
  );
  border: transparent;
  transition: 1s;
}

/* ______________Balance Components___________ */
.balance_bigdiv {
  background: linear-gradient(
    137.43deg,
    rgba(255, 255, 255, 0.0385) 3.89%,
    rgba(195, 210, 191, 0.0245) 54.78%,
    rgba(255, 255, 255, 0.042) 100%
  );
  border-radius: 10px;
  padding: 18px 20px;
  width: 35%;
}
.balance_bigdiv p:nth-of-type(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #aeaeae;
}
.balance_bigdiv h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.balance_bigdiv div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding-top: 13px;
  padding-bottom: 7px;
  color: var(--white-color);
}
.balance_near {
  background: linear-gradient(
    137.43deg,
    rgba(52, 52, 52, 0.5) 3.89%,
    rgba(61, 61, 61, 0.2) 100%
  );
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7px 1px 7px 15px;
}
.balance_near div {
  display: flex;
  align-items: center;
}
.balance_near div img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.balance_near div:nth-of-type(2) h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  background: linear-gradient(
    103.04deg,
    rgba(255, 233, 134, 0.88) -25.17%,
    #bc7e20 77.94%,
    #a74d01 128.68%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.balance_change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0px;
}
.balance_change div {
  display: flex;
  align-items: center;
}
.balance_change p {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #aeaeae;
}
.balance_input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0px;
}
.balance_input p {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #aeaeae;
  padding-left: 10px;
}
.balance_btn button {
  width: 100%;
  background: #9f9f9f;
  border-radius: 5px;
  padding: 8px 0px;
  border: 1px solid #9f9f9f;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;

  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .swap_bigdiv {
    padding: 40px 30px;
  }
  .swap_div {
    flex-direction: column;
  }
  .exchange_div,
  .aggregator_bigdiv {
    width: 100%;
  }
  .exchange_divs a div span {
    font-size: 14px;
    line-height: 24px;
  }
  .balance_bigdiv {
    display: none;
  }
  .aggregator_bigdiv {
    padding: 40px 0px;
  }
  .aggregator_bigdiv p {
    font-size: 16px;
    line-height: 24px;
  }
  .aggregator_btns a button {
    padding: 12px 20px;
  }
}
