@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #001312;
  --text-color: #e0e0e0;
  --white-color: #ffffff;
  --border-color: #b59770;
  --mobile-color: #222222;
}
body {
  position: relative;
}
.overflow_div {
  overflow: hidden !important;
}
.wrapper {
  max-width: 1355px;
  margin: auto;
}

.active {
  display: block;
}

.mobile_rwd,
.mobile_rwd_white {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile_rwd {
    display: block;
    position: fixed;
    bottom: 2%;
    right: 5%;
    z-index: 99;
  }
  .mobile_rwd_white {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
  }
}
